@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container: min(90%, 1200px);
    /* PRIMARY COLOR */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --dark-green: hsl(154, 67%, 43%);
    /* ACCENT */
    --blue: hsl(248, 32%, 49%);
    /* NEUTRAL */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

p, a, button, input, h1 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    background-image: url('./images/bg-intro-mobile.png');
    background-color: var(--red);
    position: relative;
}

.large-container {
    width: var(--container);
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container {
    color: white;
    text-align: center;
    margin-block: 2em;
    max-width: 550px;
}

.hero-container h1 {
    margin: 1em auto;
    width: 100%;
    font-size: clamp(16px, 5vw, 40px);
}

.hero-container p {
    max-width: 60ch;
    margin: 0 auto;
}

/* SLIDER */
.slider-container {
    background-color: white;
    border-radius: .5em;
    box-shadow: rgba(36, 36, 36, 0.452) 0 5px 8px;
    width: min(90%, 400px);
    z-index: -1;
    position: fixed;
    top: 100%;
    transform: translateY(-50%);
    outline: 3px solid var(--red);
    outline-offset: -10px;
    opacity: 0;
}

.slider-text {
    padding: 2em 5em;
    text-align: center;
    color: var(--green);
    display: flex;
    place-items: center;
    flex-direction: column;
}

.slider-text i {
    font-size: 5rem;
    padding: .5em;
    padding-bottom: .2em;
    border-bottom: 3px solid var(--red);
}

.slider-text h1 {
    margin-block: .1em 1em;
}

/* MAIN */
.main-container > p {
    background-color: var(--blue);
    border-radius: .5em;
    box-shadow: rgba(36, 36, 36, 0.233) 0 8px 0px;
    padding: 1em 3em;
    margin-block: 1.5em;
    text-align: center;
    color: white;
    max-width: 550px;
}

/* FORM */
.form-container {
    background-color: white;
    border-radius: .5em;
    box-shadow: rgba(36, 36, 36, 0.164) 0 8px 0px;
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    max-width: 550px;

}

form input {
    margin-bottom: 1em;
    border: 1px solid var(--grayish-blue);
    border-radius: .5em;
    padding: 1em;
    position: relative;
    width: 100%;
    transition: all 250ms ease-in-out;
}

.input-container {
    position: relative;
}

.input-error {
    display: none;
    position: absolute;
    z-index: 5;
    left: 85%;
    right: 15%;
    top: min(25%, 114px);
    transform: translateY(-30%);
}

.input-message {
    display: none;
    position: relative;
    bottom: 12px;
    right: 10px;
    font-size: 11px;
    text-align: right;
    width: 100%;
    margin-bottom: .8em;
    font-style: italic;
    color: var(--red);
}

.input-container.error input {
    border-color: var(--red);
}

.input-container.success input {
    border-color: var(--grayish-blue);
}

.input-container.error .input-error,
.input-container.error .input-message {
    display: block;
}

form input:focus-within,
form input:hover {
    outline: var(--dark-blue) 1px solid;  
}

form input::placeholder {
    font-weight: 600; 
}

form button {  
    background-color: var(--green);
    border: none;
    border-bottom: 4px solid var(--dark-green);
    border-radius: .5em;
    color: white;
    display: block;
    padding: 1em 3em;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    transition: opacity 250ms ease-in-out;
}

form button:hover {
    opacity: .7;
}

.form-container > p {
    text-align: center;
    font-size: 11px;
    width: 90%;
    margin: 1em auto;
    padding-inline: 1em;
    color: var(--grayish-blue);
    line-height: 1.8;
}

.form-container > p a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
    transition: opacity 250ms ease-in-out;
}

.form-container > p a:hover,
.form-container > p a:focus {
    opacity: .7;
}

@media screen and (min-width: 1000px) {
    .large-container {
        width: var(--container);
        margin: 5em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .hero-container {
        text-align: left;
    }

    .hero-container h1 {
        max-width: 20ch;
        margin: revert;
        margin-right: auto;
    }

    .hero-container p {
        max-width: 60ch;
    }

    .main-container {
        max-width: 500px;
        margin-left: 1em;
    }

    .form-container {
        padding: 2em;
    }

    form input {
        margin-bottom: 1.5em;
    }
}